@{
    ViewData["Title"] = "INICIO";
}

<div class="container" style="background-color: #e0f7fa; padding: 30px; border-radius: 10px;">
    <div class="row">
       
        <div class="col-md-6 d-flex align-items-center" style="text-align: justify;">
            <div>
                <h1 class="display-4" style="font-size: 3rem; font-weight: bold; color: #ff6600; text-shadow: 2px 2px 5px #333;">
                    EQUIPOS LIGA PRO
                </h1>
                <p style="margin-top: 20px;">
                    ¡Bienvenido al Sistema de Gestión de Equipos de la Liga Pro! Esta plataforma web te invita a
                    sumergirte en la emocionante experiencia de gestionar equipos de fútbol profesional. Aquí,
                    podrás crear y personalizar equipos únicos, definiendo sus características, desde el nombre
                    hasta la ciudad que representan. Además, podrás asignar estadios exclusivos a cada equipo,
                    especificando su ubicación, capacidad y todos los detalles necesarios para convertirlo en
                    el hogar perfecto de los jugadores. ¡Pero eso no es todo! También podrás gestionar la plantilla
                    de jugadores, seleccionando sus posiciones, edades y el equipo al que pertenecen, formando así
                    un equipo de ensueño. ¡Sumérgete en el mundo del fútbol, crea, organiza y lleva a tus equipos
                    a la cima de la competición con nuestro sistema dinámico y fácil de usar!
                </p>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/LIGAPROIMAGEN.jpeg" class="d-block w-100" alt="Primera Imagen de la Liga Pro">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagenes/LIGAPROIMAGEN2.jpeg" class="d-block w-100" alt="Segunda Imagen de la Liga Pro">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagenes/LIGAPROIMAGEN3.jpeg" class="d-block w-100" alt="Tercera Imagen de la Liga Pro">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
