@{
    ViewData["Title"] = "INICIO";
}

<div class="container">
    <div class="row">
        <!-- Columna para el texto -->
        <div class="col-md-6 d-flex align-items-center" style="text-align: justify;">
            <div>
                <h1 class="display-4" style="font-size: 3rem; font-weight: bold; color: #ff6600; text-shadow: 2px 2px 5px #333;">
                    EQUIPOS LIGA PRO
                </h1>
                <p style="margin-top: 20px;">
                    ¡Bienvenido al Sistema de Gestión de Equipos de la Liga Pro! Esta plataforma web te invita a
                    sumergirte en la emocionante experiencia de gestionar equipos de fútbol profesional. Aquí,
                    podrás crear y personalizar equipos únicos, definiendo sus características, desde el nombre
                    hasta la ciudad que representan. Además, podrás asignar estadios exclusivos a cada equipo,
                    especificando su ubicación, capacidad y todos los detalles necesarios para convertirlo en
                    el hogar perfecto de los jugadores. ¡Pero eso no es todo! También podrás gestionar la plantilla
                    de jugadores, seleccionando sus posiciones, edades y el equipo al que pertenecen, formando así
                    un equipo de ensueño. ¡Sumérgete en el mundo del fútbol, crea, organiza y lleva a tus equipos
                    a la cima de la competición con nuestro sistema dinámico y fácil de usar!
                </p>
            </div>
        </div>

        <!-- Columna para la imagen -->
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <img src="~/Imagenes/LIGAPROIMAGEN.jpeg" alt="Imagen relacionada con equipos de la Liga Pro" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>

